#niveles{
    background-color: rgba(0,2,145,0.35);
}

.lvl{
    background-color: rgba(0,2,145,0.4);
}

.lvl:hover{
    background-color: rgb(200,200,200);
}

.columna{
    background-color: #000291;
}

.boton{
    background-color: #dadada;
}

.boton:hover{
    background-color: #bababa;
}

#puntajes{
    background-color: rgba(163,164,255,0.39);
}